*.DS_Store
node_modules
npm-debug.log
target/*
*.iml
.idea/*
.idea_modules
.classpath
.project
.history
.settings
client/.idea/

# Server

server/.idea/*

server/logs
server/project/project
server/project/target
server/target
server/tmp
server/dist
server/RUNNING_PID
server/conf/local.conf
server/public/css/main.css
server/public/js/bundle.js

*.sublime-workspace
*.sublime-project

