@font-face
  font-family 'colishipping'
  src url('../assets/fonts/colishipping.eot?p74g7a')
  src url('../assets/fonts/colishipping.eot??p74g7a#iefix') format('embedded-opentype'),
    url('../assets/fonts/colishipping.woff?p74g7a') format('woff'),
    url('../assets/fonts/colishipping.ttf?p74g7a') format('truetype'),
    url('../assets/fonts/colishipping.svg?p74g7a#colishipping') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], 
[class*=" icon-"]
  font-family 'colishipping'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-eye:before 
  content "\e901"

.icon-mail:before
  content "\e900"

.icon-error:before
  content "\e000"

.icon-error-circle:before
  content "\e001"

.icon-plus:before
  content "\e069"

.icon-add:before
  content "\e06b"

.icon-add-circle:before
  content "\e06c"

.icon-clear:before
  content "\e070"

.icon-minus:before
  content "\e07f"

.icon-remove:before
  content "\e080"

.icon-remove-circle:before
  content "\e081"

.icon-sort:before
  content "\e088"

.icon-clock:before
  content "\e08e"

.icon-upload:before
  content "\e0f2"

.icon-download:before
  content "\e0f4"

.icon-prev:before
  content "\e113"

.icon-clone:before
  content "\e175"

.icon-cancel:before
  content "\e205"

.icon-check:before
  content "\e206"

.icon-close:before
  content "\e209"

.icon-expand_less:before
  content "\e20a"

.icon-expand_more:before
  content "\e20b"

.icon-menu:before
  content "\e20e"

.icon-check_circle:before
  content "\e281"

.icon-delete:before
  content "\e287"

.icon-cancel-circle:before
  content "\e29c"

.icon-history:before
  content "\e29d"

.icon-info:before
  content "\e2a2"

.icon-info-circle:before
  content "\e2a3"

.icon-lock:before
  content "\e2ab"

.icon-print2:before
  content "\e2c1"

.icon-warning:before
  content "\e2c6"

.icon-search:before
  content "\e2ca"

.icon-settings:before
  content "\e2cb"

.icon-help-circle:before
  content "\e30f"

.icon-affrunite:before
  content "\e800"

.icon-calendar:before
  content "\e802"

.icon-bucket:before
  content "\e80e"

.icon-garbage:before
  content "\e80f"

.icon-edit:before
  content "\e814"

