// Variables
// ---

// Colors
$color0       = #4A5256     // trout
$color1       = #741754     // pansyPurple
$color2       = #F2F2F2     // concrete
$color3       = #D8E2E5     // geyser
$color4       = #FF6500     // safetyOrange
$color5       = #A3BFC8     // tower gray

$errorColor   = #D76B6B     // red
$successColor = #20C05C     // green
$warningColor = #EC9C47     // orange

// Fonts
$font1        = 'dinregular', 'helvetica neue', helvetica, arial, sans-serif


// Breakpoints
$desktop      = 1200px
$tablet       = 720px
$mobile       = 480px
