// Variables
// ---

// Colors
$color0       = #224462     // astronaut blue
$color1       = #9B9B9B     // grey
$color2       = #F2F2F2     // concrete

$errorColor   = #D76B6B     // red
$successColor = #20C05C     // green
$warningColor = #EC9C47     // orange

// Fonts
$font1        = 'dinregular', 'helvetica neue', helvetica, arial, sans-serif


// Breakpoints
$desktop      = 1200px
$tablet       = 720px
$mobile       = 480px
