@import "util/reset"
@import "util/mixins"
@import "util/icons"
@import "util/variables"

@import "general/theme"
@import "libs/select"


*, *:after, *:before
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main
  display block

button
  background none
  cursor pointer
  -webkit-appearance none
  &:focus
    outline 0

body
  line-height 1

ol, ul
  list-style none

a
  text-decoration none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

strong, b 
  font-weight bold




// Mixins
prefix(prop, arg...)
  for i in $vendors
    {'-' + i + '-' + prop} arg
  {prop} arg


unselectable()
  cursor default
  prefix user-select, none


placeholder()
  &::-webkit-input-placeholder
    color arguments

  &:-moz-placeholder
    color arguments

  &::-moz-placeholder
    color arguments
    opacity 1

  &:-ms-input-placeholder
    color arguments


percentage(n1, n2)
  unit((n1/n2)*100, '%')


valign()
  display: inline-block
  vertical-align: arguments


clearfix()
  content ''
  width 100%
  display inline-block

truncate(n)
  max-width unit(n, 'px')
  overflow hidden
  text-overflow ellipsis
  white-space nowrap


/**
 * Gridify - don't forget {'\n'} in jsx
 */
row()
  text-align justify
  text-justify distribute
  font-size 0
  position relative
  &::after
    clearfix()

col()
  position relative
  *display inline
  *zoom 1
  & > *
    text-align left



// Variables
// ---

// Colors
$color0       = #4A5256     // trout
$color1       = #741754     // pansyPurple
$color2       = #F2F2F2     // concrete
$color3       = #D8E2E5     // geyser
$color4       = #FF6500     // safetyOrange
$color5       = #A3BFC8     // tower gray

$errorColor   = #D76B6B     // red
$successColor = #20C05C     // green
$warningColor = #EC9C47     // orange

// Fonts
$font1        = 'Lucida grande', 'helvetica neue', helvetica, arial, sans-serif


// Breakpoints
$desktop      = 1200px
$tablet       = 720px
$mobile       = 480px




// General
.btn
  background: $color1
  padding 13px 26px 14px
  font-weight bold
  color #fff
  font-size .8rem
  display inline-block
  outline 0
  prefix border-radius 4px
  prefix transition, box-shadow 140ms, background-color 140ms, color 140ms
  prefix user-select, none
  @media only screen and (max-width: $mobile)
    width 100%
    margin-bottom 20px

  &:hover,
  &:focus
    background-color darken($color1, 20%)
    color #fff
  
  &:focus
    prefix box-shadow 0 0 3px 1px rgba(93, 18, 67, 0.3)
  
  &:active
    background-color tint($color1, 20%)
    border-color tint($color1, 20%)
    color #fff

  &.disabled
    &, &:hover, &:active, &:focus
      background $color1
      opacity 0.6

  &.btn-mini
    background-color transparent
    color $color1
    padding 2px
    padding 5px 5px
    font-size 1.2rem

  &.secondary
    padding 14px 25px
    border 2px solid $color1
    background-color transparent
    color $color1
    
  &.btn-link
    padding 15px 25px
    background-color transparent
    color #ADADAD
    &:hover
      color $color0





// Theme
::selection 
  background-color lighten($color1, 90%)

html
  overflow-x hidden
  overflow-y scroll

html,body,#reactApp,#reactApp > div, main {
  height: calc(100vh - 56px);
}

body
  color $color0
  font-family $font1
  font-size 1em
  background-color #EFF6F9

.field {
  margin-bottom: 15px;
}


.nav {
  background-color: #fff;
  padding: 20px;
  
  a {
    text-transform: uppercase;
    margin-right: 20px;
    color: #111;
    font-size: .9rem;
  }
  
  .notif {
    position: absolute;
    right: 0;
    top: 0;
    margin: 9px;
    width: 36px;
    text-align: center;
    padding: 10px;
    background-color: $color1;
    border-radius: 50%;
    color: #fff;
  }
}

.card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  display: block;
  width: 100%;
  font-size: 1rem;
}

.login {
  max-width: 400px;  
}

.sports {
  max-width: 400px;
  
  a {
    width: 100%;
    background: $color1;
    display: block;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
  }
}

.score {
  max-width: 400px;
  
  .btn {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
}

.pendings {
  max-width: 500px;
  
  li {
    margin-bottom: 10px;
  }
}