#login {
  background-color: $color0;  
  
  #signin {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    prefix(transform, translateY(-50%));
    
    .abcRioButtonBlue {
      margin: auto;
      height: 50px !important;
      width: 300px !important;
      border-radius: 50px;
      background-color: #DE4A31;

      .abcRioButtonIcon {
        display: none;
      }    
      .abcRioButtonContents {
        line-height: 50px !important;
      }
    }
  }
}