#nav {
  background-color: $color0;
  padding: 20px;
  position: absolute;
  z-index: 12;
  left: 0;
  right: 0;
  top: 0;
  
  a {
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    font-size: .9rem;
  }
  
  .notif {
    position: absolute;
    right: 0;
    top: 0;
    margin: 9px;
    width: 36px;
    text-align: center;
    padding: 10px;
    background-color: $color1;
    border-radius: 50%;
    color: #fff;
  }
}